---
layout: page
title: "About"
description: "BJ-ZKHD's Blog"
header-img: "img/post-ground-1.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <p>中科浩电成立于2012年底，专注于提高学生动手创新能力培养。</p>
    <p>利用智能硬件激发学生兴趣的同时引导建立良好的自学习惯，开设与传统教学模式不同的创新能力培养体系。</p>
	<p>我们本着以自学为 核心、实践为基础、项目为主线精心制作电子类实训课程体系。</p>
	<p>从而促进教育体系的改革创新！因为有我们，未来会有更多的 “中国创造”！</p>
	
	  
    <ul>
        <li><a href="http://www.bj-zkhd.com">北京中科浩电官网</a></li>
    </ul>
</div>

#  <!-- Gitalk 评论 start  -->
#  {% if site.gitalk.enable %}
#  <!-- Gitalk link  -->
#  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
#  <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
#  
#  <div id="gitalk-container"></div>
#      <script type="text/javascript">
#      var gitalk = new Gitalk({
#      clientID: '{{site.gitalk.clientID}}',
#      clientSecret: '{{site.gitalk.clientSecret}}',
#      repo: '{{site.gitalk.repo}}',
#      owner: '{{site.gitalk.owner}}',
#      admin: ['{{site.gitalk.admin}}'],
#      distractionFreeMode: {{site.gitalk.distractionFreeMode}},
#      id: 'about',
#      });
#      gitalk.render('gitalk-container');
#  </script>
#  {% endif %}
#  <!-- Gitalk end -->
#  
#   <!-- disqus 评论框 start  -->
#  {% if site.disqus.enable %}
#  
#  <div class="comment">
#      <div id="disqus_thread" class="disqus-thread">
#      </div>
#  </div>
#  <!-- disqus 评论框 end -->
#  
#  <!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
#  <script type="text/javascript">
#      /* * * CONFIGURATION VARIABLES * * */
#      var disqus_shortname = "{{site.disqus.username}}";
#      var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
#      var disqus_url = "{{site.url}}{{page.url}}";
#  
#      (function() {
#          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
#          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
#          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
#      })();
#  </script>
#  <!-- disqus 公共JS代码 end -->
#  {% endif %}

